/* GLOBAL */

*{
    font-family: 'Rubik Mono One', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* HEADER */

header{
    position: fixed;    
    width: 100%;
    display: inline-block;
    margin-top: 2vh;
}
/* per il nav non serve ma non si sa mai */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

header ul{
    float: right;
}

header li{
    height: 4vh;
    width: 4vh;
    background-color: white;    
    text-align: center;
    line-height: 4vh;
    border-radius: 50%;
    display: inline-block;
    margin: 2vh;
}

header li > a{
    font-size: 1.5vh;
    text-decoration-line: none;
    color: black; 
    display: inline-block; 
}

/* MAIN */

/* Ogni section sarà grande quanto la view */
section{
    height: 100vh;
    width: 100vw;  
    z-index: -1;
    position: relative; 
}

/*  vari colori ricercati */
#one{
    background-color: red;
}

#two{
    background-color: green;
}

#three{
    background-color: yellow;
}

/* il container ci aiuta nel posizionamento dei suoi figli */

.container, .image, .text{

}
div.container{
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    position: absolute;
}

.image{
    object-fit: contain;
    width: 100%;    
}

/* il font size si adatta alla dimensione dello schermo */
.text{
    font-size: 6vh;
    text-align: center;
    color: yellow;
    text-transform: uppercase; /* non era necessario ma non l'avevo mai usato */
}

/* il testo nella terza section ha diverso colore */
#three .text{
    color: green;
}